de.persosim.simulator.test/wsdl/PersoSimRemoteControl.wsdl

<!--  Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.4 git-revision#34af6e5.  -->
<!--  Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.4 git-revision#34af6e5.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.soap.control.simulator.persosim.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.soap.control.simulator.persosim.de/" name="PersoSimRemoteControlService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.soap.control.simulator.persosim.de/" schemaLocation="http://localhost:8888/persosim/PersoSimRemoteControl?xsd=1"/>
    </xsd:schema>
  </types>
  <message name="getIdentifier"/>
  <message name="getIdentifierResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="reset"/>
  <message name="resetResponse">
    <part name="return" type="tns:persoSimRemoteControlResult"/>
  </message>
  <message name="getAdapter">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="getAdapterResponse">
    <part name="return" type="xsd:anyType"/>
  </message>
  <message name="loadPerso">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="loadPersoResponse">
    <part name="return" type="tns:persoSimRemoteControlResult"/>
  </message>
  <message name="sendApdu">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="sendApduResponse">
    <part name="return" type="tns:persoSimRemoteControlResult"/>
  </message>
  <portType name="PersoSimRemoteControl">
    <operation name="getIdentifier">
      <input wsam:Action="http://service.soap.control.simulator.persosim.de/PersoSimRemoteControl/getIdentifierRequest" message="tns:getIdentifier"/>
      <output wsam:Action="http://service.soap.control.simulator.persosim.de/PersoSimRemoteControl/getIdentifierResponse" message="tns:getIdentifierResponse"/>
    </operation>
    <operation name="reset">
      <input wsam:Action="http://service.soap.control.simulator.persosim.de/PersoSimRemoteControl/resetRequest" message="tns:reset"/>
      <output wsam:Action="http://service.soap.control.simulator.persosim.de/PersoSimRemoteControl/resetResponse" message="tns:resetResponse"/>
    </operation>
    <operation name="getAdapter">
      <input wsam:Action="http://service.soap.control.simulator.persosim.de/PersoSimRemoteControl/getAdapterRequest" message="tns:getAdapter"/>
      <output wsam:Action="http://service.soap.control.simulator.persosim.de/PersoSimRemoteControl/getAdapterResponse" message="tns:getAdapterResponse"/>
    </operation>
    <operation name="loadPerso">
      <input wsam:Action="http://service.soap.control.simulator.persosim.de/PersoSimRemoteControl/loadPersoRequest" message="tns:loadPerso"/>
      <output wsam:Action="http://service.soap.control.simulator.persosim.de/PersoSimRemoteControl/loadPersoResponse" message="tns:loadPersoResponse"/>
    </operation>
    <operation name="sendApdu">
      <input wsam:Action="http://service.soap.control.simulator.persosim.de/PersoSimRemoteControl/sendApduRequest" message="tns:sendApdu"/>
      <output wsam:Action="http://service.soap.control.simulator.persosim.de/PersoSimRemoteControl/sendApduResponse" message="tns:sendApduResponse"/>
    </operation>
  </portType>
  <binding name="PersoSimRemoteControlPortBinding" type="tns:PersoSimRemoteControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getIdentifier">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.soap.control.simulator.persosim.de/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.soap.control.simulator.persosim.de/"/>
      </output>
    </operation>
    <operation name="reset">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.soap.control.simulator.persosim.de/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.soap.control.simulator.persosim.de/"/>
      </output>
    </operation>
    <operation name="getAdapter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.soap.control.simulator.persosim.de/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.soap.control.simulator.persosim.de/"/>
      </output>
    </operation>
    <operation name="loadPerso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.soap.control.simulator.persosim.de/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.soap.control.simulator.persosim.de/"/>
      </output>
    </operation>
    <operation name="sendApdu">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.soap.control.simulator.persosim.de/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.soap.control.simulator.persosim.de/"/>
      </output>
    </operation>
  </binding>
  <service name="PersoSimRemoteControlService">
    <port name="PersoSimRemoteControlPort" binding="tns:PersoSimRemoteControlPortBinding">
      <soap:address location="http://localhost:8888/persosim/PersoSimRemoteControl"/>
    </port>
  </service>
</definitions>